<div id="contact-title-image" class="col-xs-12 content-box-full">
	<!-- <div class="img-container"> -->
		<img class="img-responsive" src="images/contact.jpg" alt="Title image"/>
	<!-- </div> -->
</div>
<div class="col-xs-12 content-box-small"><h3>Name</h3><h6>Email</h6><h6>Phone</h6></div>
<div class="col-xs-12 content-box-small"><h3>Name</h3><h6>Email</h6><h6>Phone</h6></div>
<div class="col-xs-12 content-box-small"><h3>Name</h3><h6>Email</h6><h6>Phone</h6></div>
<div class="col-xs-12 content-box-small"><h3>Name</h3><h6>Email</h6><h6>Phone</h6></div>
<div class="col-xs-12 content-box-small"><h3>Name</h3><h6>Email</h6><h6>Phone</h6></div>
<div class="col-xs-12 content-box-small"><h3>Name</h3><h6>Email</h6><h6>Phone</h6></div>