<div class="col-xs-12 content-box-full">
	<!-- slideshow of latest news -->
	<img class="img-responsive" src="images/home2.jpeg" alt="Title image"/>
</div>
<div class="col-xs-12 content-box-medium" id="home-text-slider">
	<!-- slideshow of content -->
	<div class="col-xs-12 text-center padding-heavy">
		<p><span class="text-large">Special Content</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>		
	</div>
	<div class="col-xs-6 text-left padding-medium"><p><span class="text-small">See all</span></p></div>
	<div class="col-xs-6 text-right padding-medium"><p><span class="text-small">1/3</span></p></div>

</div>