<!-- slideshow of latest news -->
<!-- <div class="col-xs-12 content-box-full"> 	
	<img id="home-image1" class="box-background hidden" src="images/home2.jpeg" alt="Title image"/>
	<img id="home-image2" class="box-background" src="images/home1.jpg" alt="Title image"/>
	<img id="home-image3" class="box-background hidden" src="images/home3.jpg" alt="Title image"/>
</div> -->

<div id="carousel-home" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000" >  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="item-image-container">
        <img class="item-image" src="images/deusx-home2.jpg" alt="Title image"/>  
      </div>      
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <div class="item-image-container">
        <img class="item-image" src="images/deusx-home.jpg" alt="Title image"/>  
      </div>       
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <div class="item-image-container">
        <img class="item-image" src="images/home5.jpg" alt="Title image"/>  
      </div> 
      <div class="carousel-caption"></div>
    </div>
  </div>  
</div>
<div class="col-xs-12 content-box-medium" id="home-text-slider">
	<!-- slideshow of content -->
	<div class="col-xs-12 text-center content-box-text" style="border: 1px solid white;">
		<p><span class="text-large">Special Content</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>		
	</div>
	<div class="col-xs-3 box-link text-left" style="border: 1px solid white;"><p><span class="link-regular">See all</span></p></div>
	<div class="col-xs-3 box-counter text-right" style="border: 1px solid white;"><p><span class="link-regular">1/3</span></p></div>

</div>

