<div class="col-xs-12 content-box-gallery" id="projects">
	<div class="col-xs-12 col-sm-5 content-box-gallery">
		<img class="img-responsive" src="images/1.jpg" />
		<h3>Article</h3>
		<h6>Category</h6>
	</div>
	<div class="col-xs-12 col-sm-5 content-box-gallery">
		<img class="img-responsive" src="images/2.jpg" />
		<h3>Article</h3>
		<h6>Category</h6>
	</div>
	<div class="col-xs-12 col-sm-5 content-box-gallery">
		<img class="img-responsive" src="images/3.jpg" />
		<h3>Article</h3>
		<h6>Category</h6>
	</div>
	<div class="col-xs-12 col-sm-5 content-box-gallery">
		<img class="img-responsive" src="images/4.jpg" />
		<h3>Article</h3>
		<h6>Category</h6>
	</div>
</div>