.scroll-animate{ opacity: 0; }
.scroll-animate.in-view{
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.view-frame.ng-enter {
  -webkit-animation: 2.5s fade-in;
  -moz-animation: 2.5s fade-in;
  -o-animation: 2.5s fade-in;
  animation: 2.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

/******************************************
      Fade-in/Fade-out Transition
******************************************/

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* don't forget about the vendor-prefixes! */

/******************************************************
      Image Carousel with fade and centered image
******************************************************/
/* Image sizes for full frame images (height equals width/2.1512605042)
  5k display = 5120x2880 actually 5120x2380
  4k display = 3840x2160 actually 3840x1785
  HD Display = 1920x1080 actually 1920x892
*/
      /*********Centered Image************/
#carousel-home { min-height: 100vh; margin: 0 auto; overflow: hidden;}
#carousel-home .item-image-container { position: relative; max-height: 100vh; } 
/*#carousel-home .item-image-container{ position: relative; min-height: 100vh; width: 1500px; left: 50%; margin-left: -760px; z-index: 0; } /* works for images with specified width of 1300px*/
.item-image-container > img { min-height: 100vh; max-height: 100vh; float: right;} /*float keeps right side of image anchored*/
@media only screen and (max-width: 400px) {
  /* For mobile: */
  .item-image-container { margin-right: -40%; }
}
@media only screen and (max-width: 800px) {
  /* For tablet: */
  .item-image-container { margin-right: -30%; }
}

      /******Fade Section*******/

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function:linear;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}